/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:300, 300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #4d83c9;
  --header-color:    #4d83c9;                    /* edited */
  --body-color:      #404040;                    /* edited */
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Noto Serif JP", sans-serif; /* edited */
  --mono-font:       "IBM Plex Mono", monospace;  /* edited */
  --body-font:       "Lato", sans-serif;          /* edited */
  --navbar-font:     "Lato", sans-serif;          /* edited */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.9rem;                      /* edited */
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.95rem;                     /* edited */
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);      
  --text-size:       0.9rem;                    /* edited */
  --text-color:      #1a162d;                   /* edited */
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       #1f1f1f;                   /* edited */
  --text-size:        15px;
  --hover-color:      #4d83c9;                   /* edited */
  --bkgd-color:       white;                      /* edited */
  
}


.distill-site-footer {
  --text-color:       #7e7b88;                   /* edited */
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #4d83c9;                 /* edited */
}

.nav-dropdown-content a:hover {
	background-color: white;
	text-decoration-line: underline;
  text-decoration-color: orange;
}


/*-- Additional custom styles --*/

ul > li::marker {
  color: #4d83c9;
}

.distill-site-header { 
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
  font-weight: 300;
}

.distill-site-header .logo img{
  max-height: 21px; /* Makes logo bigger, default was 20px */
}

.distill-site-header {
  padding-top: 0rem;
}

d-title h1,
d-article h2,
.posts-list .description h2,
.posts-list > h1 {
    font-weight: 300;
}

d-appendix {
  background-color: #fdf7f9;
  border-top: none;
}


.nav-left a:hover {
	text-decoration-line: underline;
  text-decoration-color: orange;
}



/*----- COLORED LIST BULLET----*/

d-article ul {
  list-style: none; /* Remove default bullets */
}

d-article ul li::before {
  content: "\2023";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: orange; /* Change the color */
  font-weight: normal; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.5em; /* Also needed for space (tweak if needed) */
  margin-left: -1.5em; /* Also needed for space (tweak if needed) */
}

d-article ul > li > p {
  display: inline; /* to have content show up next to bullet */
  line-height: 1.6em;
}

d-article ul > li { /*to add back in space between bullet items that I took away by making p display inline */
  margin-top: 1em;
  margin-bottom: 1em;
}

.d-toc ul li::before {
  content: " ";  /* Remove toc bullets */
}





/*----- HOVER BOXES----*/

.tooltip {
  position: relative;
  display: inline-block;
/*--  border-bottom: 1px dotted black; --*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: 
  opacity: 0;
  transition: opacity 0.5s;*/
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.size_of_img{
width:45px;
padding-right: 20px;
padding-left: 20px;
padding-top: 10px;}



.size_of_P_img{
width:60px}


/* creates table scroll bar 

table {
  display: block;
  height: 500px;
  overflow-y: scroll;
}

*/







/* -----------div tips------------- */


div.puzzle {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #ffffff;
  background-color: #f79494;
  border: dashed 5px #ffdfdf;
}

div.puzzle {
  background-image: url("img/Your-turn.png");
}

div.fyi {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #ffffff;
  background-color: #767fd5;
  border: dashed 5px #c9cefc;
}

div.fyi {
 background-image: url("img/fyi.png");
}

div.demo {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #ffffff;
  background-color: #7abff7;
  border: dashed 5px #b9e0ff;
}

div.demo {
  background-image: url("img/Live-code.png");
}

div.note {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #ffffff;
  background-color: #82d1c1;
  border: dashed 5px #b6e6dd;
}

div.note {
  background-image: url("img/lightbulb.png");
}




div.qs {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #ffffff;
  background-color: #FFA200;
  border: dashed 5px #FFE8C1;
}

div.qs {
  background-image: url("img/newq.png");
}



div.sol {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 9px center;
  min-height: 1px;
  color: black;
  background-color: #f2f8ff;
  border: dashed 5px #c7e1ff;

}

div.sol {
  background-image: url("img/fyi2.png");
}

div.task {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 9px center;
  min-height: 1px;
  color: black;
  background-color: #ffdeb3;
  border: dashed 5px #ffcc8a;

}

div.task {
  background-image: url("img/Live-code.png");
}

div.ojtask {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: white;
  border: dashed 2px orange;

}

div.ojtask {
  background-image: url("img/Live-code2.png");
}



div.ex {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #F0EDFF;
  border: dashed 5px #D6CFFF;

}

div.ex {
  background-image: url("img/ex.png");
}




.teeny {
  font-size: 0.6em;
}







.button-box {
  text-align:center;
  margin-top:20px;
 }

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4d83c9;
  font-size: 18px;
  padding: 20px;
  width: 210px;
  cursor: pointer;
  float:left;
  position: relative;
  left: 65px;
}

.button1:hover {
  background-color: #4d83c9;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #4d83c9;
  font-size: 18px;
  padding: 20px;
  width: 210px;
  cursor: pointer;
  float:right;
  position: relative;
  right: 65px;

}

.button2:hover {
  background-color: #4d83c9;
  color: white;
}




.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #4d83c9;
  font-size: 18px;
  padding: 5px;
  width: 180px;
  cursor: pointer;
  float:left;
  position: relative;
  left: 0px;
}

.button3:hover {
  background-color: #4d83c9;
  color: white;
}

.button4 {
  background-color: white; 
  color: black; 
  border: 2px solid #4d83c9;
  font-size: 18px;
  padding: 5px;
  width: 180px;
  cursor: pointer;
  float:right;
  position: relative;
  right: 0px;

}

.button4:hover {
  background-color: #4d83c9;
  color: white;
}






/* Memoji Div Tips */

div.mb {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #fff0de;
  border: dashed 5px #ffcc8a;

}

div.mb {
  background-image: url("img/mb.png");
}

div.pce {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #F0EDFF;
  border: dashed 5px #D6CFFF;

}

div.pce {
  background-image: url("img/pce.png");
}

div.smile {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #F0EDFF;
  border: dashed 5px #D6CFFF;
}

div.smile {
  background-image: url("img/smile.png");
}

div.star {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #F0EDFF;
  border: dashed 5px #D6CFFF;
}

div.star {
  background-image: url("img/star.png");
}

div.sweat {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #f2f8ff;
  border: dashed 5px #c7e1ff;
}

div.sweat {
  background-image: url("img/sweat.png");
}

div.tu {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 53px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #e9f7f4;
  border: dashed 5px #82d1c1;
}

div.tu {
  background-image: url("img/tu.png");
}


div.hm {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #F0EDFF;
  border: dashed 5px #D6CFFF;
}

div.hm {
  background-image: url("img/hm.png");
}


div.pc {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #f7f5ff;
  border: dashed 5px #D6CFFF;
}

div.pc {
  background-image: url("img/pc.png");
}


div.surp {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #F0EDFF;
  border: dashed 5px #D6CFFF;
}

div.surp {
  background-image: url("img/surp.png");
}



div.swr {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #F0EDFF;
  border: dashed 5px #D6CFFF;
}

div.swr {
  background-image: url("img/swr.png");
}


div.td {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 52px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #F0EDFF;
  border: dashed 5px #D6CFFF;
}

div.td {
  background-image: url("img/td.png");
}

div.uhoh {
  padding: 1em;
  margin: 1em 0;
  padding-left: 90px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 21px center;
  min-height: 1px;
  color: black;
  background-color: #F0EDFF;
  border: dashed 5px #D6CFFF;
}

div.uhoh {
  background-image: url("img/uhoh.png");
}






















